<div class="page">
  <button mat-flat-button color="primary" (click)="logout()">logout</button>
  <div mat-subheader>Profile</div>
  <div *ngIf="(profile$ | async) as profile">

  

  <div class="field">
   <label > User's ID:
    <span>{{profile.uid.S}}</span>
   </label>
      
  </div>
  <div class="field">
    <label> Email:
      <span>{{profile.email.S}}</span>
    </label>
  </div>
  <div class="field">
    <label> Created at:
      <span>{{profile.createdAt.S | date:'medium'}}</span>
    </label>
  </div>
  </div>
  <div class="field">
      <label> Name:

        @if(editable$ | async){<input mat-input [formControl]="name">}
        @if(!(editable$ | async) && (profile$ | async)){<span>{{(profile$ | async)!.name.S}}</span>}
        <!-- <input mat-input [formControl]="name" [readonly]="!(editable$ | async)"> -->
      </label>
   
    <button mat-flat-button color="primary" *ngIf="!(editable$ | async)" (click)="editProfile()" > edit </button>
    <button mat-flat-button color="primary" *ngIf="(editable$ | async)" (click)="save()" [disabled]="!name.valid || (loading$ | async)"> save </button>
    <button mat-flat-button *ngIf="(editable$ | async)" (click)="cancel()"> cancel </button>
  </div>
</div>
