.page{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.group{
  width: 30%;

}

.buttons{
  padding: 15px;
  // display: flex;
  // justify-content: left;
  // column-gap: 20px;
}

mat-list-item{
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 5px 5px 5px rgba(187, 117, 206, 0.777), -5px -5px 5px rgba(187, 117, 206, 0.777) ;
    transition: all 0.2s ease;
}
}

.timer{
  width: 50px;
  height: 20px;
}

