<div class="page">
  <div class="group__header">
    <a routerLink="/"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon></a>
    <button mat-flat-button color="primary">update</button>
    <button mat-flat-button>delete</button>
  </div>
  <mat-divider></mat-divider>
  <div class="group__main">
  @for (message of messages$ |async; track message) {
    <div class="message">
      <p>{{message.createdAt.S| date}} </p>
      <p>{{message.authorID.S}} </p>
      <p>{{message.message.S}} </p>
    </div>

  }
  </div>
 
  <form class="message-form">
    <mat-form-field class="input-message">
      <mat-label>Type your message</mat-label>
      <input matInput placeholder="hello..."> 
      <button matSuffix mat-icon-button color="primary" aria-label="button for send message">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
   
  </form>
</div>
