<div class="page">
  <div class="group__header">
    <a routerLink="/"><mat-icon  fontIcon="arrow_back"></mat-icon></a>
    <button mat-flat-button color="primary" (click)="update()">update</button>
    @if((userGroup$|async)){<button mat-flat-button (click)="deleteGroup()">delete</button>}
  </div>
  <mat-divider></mat-divider>
  <div class="group__main">
<!--    @for (group of groups$ | async; track group) {-->
<!--      <p>{{group.createdBy.S}}</p>-->
<!--    }-->
  @for (message of namedMessage$ | async; track message) {
    <div class="message" [style.text-align]="message.authorId == (userId$ | async) ? 'right' : 'left' " >
      <p style="font-weight: bold; font-size: large">{{message.authorId == (userId$ | async) ?'me': message.authorName}} </p>
      <p style="font-size: small;">{{message.message.createdAt.S| date:'medium'}} </p>

      <p style="font-size: medium; font-style: italic">{{message.message.message.S}} </p>
    </div>

  }
  </div>

  <form class="message-form">
    <mat-form-field class="input-message">
      <mat-label>Type your message</mat-label>
      <input matInput placeholder="type your message" #newMessage >
      <button matSuffix mat-icon-button color="primary" aria-label="button for send message" (click)="sendMessage(newMessage.value); newMessage.value=''">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>

  </form>
</div>
